@media (max-width: 1279.97px) {
  .slide-in {
    left: 0;
    animation: slideIn 1s !important;
  }

  @keyframes slideIn {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

  .slide-out {
    left: -100%;
    animation: slideOut 1s;
  }

  @keyframes slideOut {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
}
